/*******   General styling    ******/
section{
    position: relative;
    background-image: url(/assets/dishi-images/land-banner.jpg);
}

/*******   header   *******/
header{
    padding: .5rem;
}
.bar::before, .bar::after {
    content: ' ';
    display: table;
}
.bar::after{
    clear: both;
}
.bar-left {
	float: left;
}
.bar-right {
	float: right;
}
/********    First div  ******/
#div1 {
    background-size: cover;
    position: relative;
	height: 100vh;
}
.content {
    width: 100%;
    font-size: 3em;
	text-align: center;
}
.content>p{
    color: #fff;
}